.main-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    width: 100%;
}

.main-login h3{
    font-size: 36px;
    font-weight: 500;
    margin: 25px 0;
    
}

.login-submit a{
    text-decoration: none;
    color: #fff;
}