/* Весь header */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    align-items: center;
    gap: 10%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    
}

.header-logo a{
    text-decoration: none;
    color: #00A2DC;
    font-weight: 500;
    font-size: 50px;
}



/* Поле поиска и его кнопка */
.header-search{
    height: 45px;
    width: 30%;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    margin-left: 8%;
}
.header-search input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 99%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: flex-start;
}


/* Кнопка поиска */
.search-button {
    width: 1%;
    color: #fff;
    background-color: #00A2DC;
    height: 100%;
    width: 30%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 5px;
}





/* Кнопки регистрации и войти */


.auth-buttons {
    display: flex;
    box-sizing: border-box; 
    justify-content: space-between;
    gap: 10%;  
}